@charset "utf-8";

*{margin: 0; padding: 0; border: 0; outline: 0; font-family: 'Noto Sans KR', sans-serif;}

    #wrap{
        width: 100%;
        background-color: #ffffff;
    }
    body{background-color: #ffffff;}

    .cf:after{
        content: '';
        display: block;
        clear: both;
    }
    .fl{float: left;}

    /* p태그 글자 */
    p.red{color:red;}
    p.gray{color:gray;}
    p.bold{font-weight: bold;}
    p.tho{text-decoration: line-through;}

    p{
        float: left;
        width: auto;
        height:auto;
        
        font-size: 1.5em;
        line-height: 25px;
        word-spacing: -1px;
    }

    /* 제목 숨기기 */
    .section1 h2{display: none;}
    .section2 h2{display: none;}
    .m_contents h2{display: none;}


    /* 메인상품 글자처리 */
    span.bold{font-weight: bold;}
    span.red{color: red;}
    span.gray{color: gray;}
    span.tho{text-decoration: line-through;}


    
    /* ----------------------------헤더------------------------------ */

    #header{
        width: 100%;
        transform: translate(-50%,0);
        top:0;
        left:50%;

        margin: 0 auto;
        background-color: #ffffff; 
        position: fixed;
        border-bottom: 1px solid gray;
    }

    #header_line{
        width: 100%;
        position: fixed;
        text-align: end;
        height: 30px;
        background-color: #138500;
    }
    #header_line ul{
        width: 1190px;
        height: 30px;
        margin: 0 auto;
    }
    #header_line ul li{
        float: right;
        margin-left: 15px;
        line-height: 28px;
    }

    #header_line ul li a{color: #ffffff; font-size: 1.3em;}

    #header h1{
        position: absolute;
        left: 50%;
        top: 36px;
        transform: translate(-50%, 0); 
        margin-top: 15px;
    }




    /* ----------------------------gnb 영역------------------------------ */

    #gnb_wrap{
        width: 1190px;
        height: 47px;
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 0);
        left: 50%;
    }
    #gnb{
        width: 1190px;
        height: 47px;
        margin: 0 auto;
    }
    #gnb > li{
        float: left;
        text-align: center;
        width: 130px;
        padding: 15px;
        line-height: 15px;
        padding-right:17px;
        position: relative;

        /* -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; */
        box-sizing: border-box;
        bottom: 1.5px;
        left: -35px;
    }
    
    /* 메뉴 전체 버튼 */

    #total_btn{
        /* 부모: header */
        float: left;
        position: relative;
        top:0;
        left: -20px;
        height: 47px;
        width: 88px;
    }
    #total_btn img{
        top: 22px;
        position: absolute;
        left: 40%;
        top: 30%;
        margin-left:-10px;
    }

    /* 아이콘 버튼 */

    #icon{
        float: right;
        top: -40px;
        width: 150px;
        height: 30px;
        position: relative;
        right: 235px;
    }
    #icon > a > img{
        position: absolute;
        display: block;
    }
    #icon > a > .img2{
        position: absolute;
        left: 50px;
    }
    #icon > a > .img3{
        position: absolute;
        left: 100px;
    }
    
    /* 검색 버튼 */
    .search_box{
        position: absolute;
        background-color: #138500;
        color: #ffffff;
        width: 230px;
        height: 40px;
        top:3px;
        right: 0;
        font-size: 15px;
        text-align: start;
        border-radius: 15px;
    }
    input{
        font-size: 16px;
        width: 180px;
        height: 40px;
        border: 0px;
        outline: none;
        float: left;
        border-radius: 15px;
        margin-left: 5px;
        padding-left: 10px;
        background-color: #138500;
        color: #ffffff;
    }
    .search_box > div{
        width: 30px;
        height: 30px;
        outline: none;
        top: 5px;
        float: right;
        left: -8px;
        position: relative;
        border-radius: 15px;
        background-color: #138500;
        color: #ffffff;
        background: url(../images/m_search.png);
        background-size: 100%;

    }


    /* 타이틀 메뉴 첫번째(홈) */
    #gnb > li.fir a{
        color: #138500;
        font-weight: bold;
    }
    #gnb > li > a{
        font-size: 1.5em;
        line-height: 16px;
        color: #000000;
        font-weight: bold;
    }

    /* 타이틀 메뉴 밑에 전체 드롭다운 */
    #gnb ul{
        box-sizing: border-box;
        position: relative;
        width: 133px; /* (padding 30)+100 */
        line-height: 45px;
        text-align: center;
        left: -16px;
        top: 16px;
        display: none;
        background-color: #f7f7f7;
    }

    /* 전체 드롭다운 중 각각 항목들 */
    #gnb li > ul > li{
        width: 150px;
        position: relative;
        left:-6px;
        top:0;
        font-size: 1.3em;
    }


    /* 줄겹침 방지를 위해 마지막 테두리 삭제 */
    #gnb ul li:last-child{
        border-bottom: none;
    }
    #gnb > li:hover{
        background-color: #138500;
    }

    /* 첫번째(홈)메뉴에 호버시 글자색상 변경 */
    #gnb > li:hover.fir a{
        color: #ffffff;
    }
    #gnb>li:hover>a{
        color: #ffffff;
    }
    #gnb>li>ul>li:hover{
        background-color: #138500;
    }
    #gnb>li>ul>li:hover a{
        color: #ffffff;
    }


    /* 전체메뉴 영역 */
    #total_menu{
        width: 1190px;
        height: 189px;
        background: #ffffff;
        position: absolute;
        top: 47px;
        left: 0;
        display: none;
        border: 1px solid #000000;
    }
     
    /* 전체메뉴 속의 전체 영역 */
    #total_menu dl{
        float: left;
        height: 160px;
        margin: 15px 0px;
        position: relative;
        left: 180px;
    }
    
    #total_menu dt{
        font-size: 0; /* 영역 삭제 */
    }
    
    /* 테두리로 나눠지는 전체 영역들 */
    #total_menu dd{
        font-size: 1.3em;
        border-right: 1px solid #333333;
        width: 80px;
        padding: 16px;
        height: 130px;
        margin-right: 20px;
        position: relative;
        left: 10px;
    }
    
    /* 전체메뉴의 (테두리 기준) 1~4번 항목 */
    #total_menu dd>ul{
        position: relative;
        top:-10px;
    }
    
    /* 1~4번 항목 중 각각의 세부 항목 */
    #total_menu dd>ul>li{
        line-height: 30px;
        position: relative;
        left: -10px;
        text-align: center;
    }
    
    #total_menu li:hover a{
        font-weight: bold;
        color: #138500;
    }
    
    #total_close{
        position: absolute;
        bottom: 12px;
        right: 35px;
    }


/* ----------------------------배너------------------------------ */

#banner{position: relative; width: 100%; margin: 0 auto; overflow: hidden; height: 800px; background: #8c908c;}
#banner ul{position: relative; float: left; width: 100%; height: 800px;}
#banner ul li{position: absolute; width: 100%; height: 800px; top: 150px;}
#banner ul li a{display: block; text-indent: -9999px;} /* 글씨 제거 */

#banner li{
    left: 0; background: url(../images/visual_img1.jpg) 50% 0 no-repeat;
    background-size: cover;
}
#banner ul li:nth-child(2)
{
    left: 100%; background: url(../images/visual_img2.jpg) 50% 0 no-repeat; background-size: cover;
}
#banner ul li:nth-child(3)
{
    left: 200%; background: url(../images/visual_img3.jpg) 50% 0 no-repeat; background-size: cover;
}

/* 배너 하단버튼 */
#buttonList:after{content: ""; display: block; clear: both;}
#buttonList li{background: url(../images/btnVisual1.png) 0 -16px no-repeat; width: 14px; height: 15px; float: left; position: relative; left: 48%; top: -105px; overflow: hidden; margin: 0 5px; cursor: pointer;}
#buttonList li a{display: block; text-indent: -9999px;} /* 글씨 제거 */
#buttonList li.on{background-position: 0 0;} /* 활성화된 버튼 */

/* 배너 화살표 */

.btnImg{position:relative; top: -370px; width:100%;}
.btnImg .prev{position:absolute; left:100px;}
.btnImg .next{position:absolute; right:100px;}

.btnImg:hover{
    cursor: pointer;
}


/* ----------------------------컨텐츠(메인)------------------------------ */

.m_contents{
    width: 1190px;
    height: 2600px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}
#m_box{
    width: 1190px;
    height: 250px;
    margin-top: 45px;
}
.m_contents .box1{
    float: left;
    width: 590px;
    height: 250px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid gray;
    text-align: center;
}

/* box1 속 내용 */

.box1_1{
    height: 100px;
    border: 1px solid gray;
    border-radius: 50px;
    width: 100px;
    position: absolute;
    left: 100px;
    top: 53px;
    transition: all 0.5s;
}

.box1_1:hover{
    background-color: #138500;
    color: #138500;
    
}
.box1_1:hover > div > a{
    color: #138500;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* 글자 */
.box1_1 > div > a{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 45px;
    font-size: 1.5em;
    font-weight: bold;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    
    transition: all 0.5s;
}

.box1_2{
    height: 100px;
    border: 1px solid gray;
    border-radius: 50px;
    width: 100px;
    position: absolute;
    left: 246px;
    top: 53px;
    transition: all 0.5s;
}

/* 글자 */
.box1_2 > div > a{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 45px;
    font-size: 1.5em;
    font-weight: bold;

    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    
    transition: all 0.5s;
}

.box1_2:hover{
    background-color: #138500;
    color: #138500;
    
}
.box1_2:hover > div > a{
    color: #138500;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.box1_3{
   height: 100px;
   border: 1px solid gray;
   border-radius: 50px;
   width: 100px;
   position: absolute;
   left: 392px;
   top: 53px;
   transition: all 0.5s;

}

/* 글자 */
.box1_3 > div > a{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 45px;
    font-size: 1.5em;
    font-weight: bold;

    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    
    transition: all 0.5s;
}

.box1_3:hover{
    background-color: #138500;
    color: #138500;
    
}
.box1_3:hover > div > a{
    color: #138500;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* 버튼 리스트(3개) */
#buttonList_box1:after{content: ""; display: block; clear: both;}
#buttonList_box1 li{background: url(../images/btnVisual2.png) 0 -16px no-repeat; 
width: 14px;
height: 15px;
float: left;
position: relative;
left: 500px;
top: 20px;
overflow: hidden;
margin: 0 5px;
cursor: pointer;}
#buttonList_box1 li a{display: block; text-indent: -9999px;}
#buttonList_box1 li.on{background-position: 0 0;}


.box2{
    float: right;
    width: 590px;
    height: 250px;
    border-radius: 15px;
    background-color: pink;
    background: url(../images/m_box2_bg.png) no-repeat;
    text-align: center;
    margin-bottom: 85px;
}

/* box2 속 내용 */
.box2>ul{
    width: 510px;
    height: 160px;
    margin: 50px auto;
    position: relative;
}
.box2>ul>li{
    text-align: start;
}
.box2>ul>li:first-child{
    padding-top: 20px;
    font-size:33px;
    font-weight: bold;
    color: #ffffff;
}
.box2>ul>li:nth-child(2){
    margin-top: 20px;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
.box2 > ul > li > a{
    position: absolute;
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    bottom: 0px;
    right: 0px;
    text-align: center;

    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.box2 > ul > li > a:hover{
    background-color: #ffffff;
    color: gray;
}

/* 메인-상품 */

.m_product{
    margin: 40px auto;
    width: 1190px;
    height: 450px;
    overflow: hidden;
}

.m_product span{
    display: block;
    text-align: center;
    font-size: 2.5em;
    color: #138500;
    font-weight: bold;
    margin-bottom: 25px;
}


/* 전체 감싸는 박스 */
.m_pro_pic{
    width: 1500px;
    height: 350px;
}
.m_pro_pic ul{width: 100%; position: relative; left: 0;}/* 주의. 이거 없으면 자연스럽게 안 돌아감 */

.slide1 > li{
    float: left;
    margin-left: 80px;
    width: 280px;
    height: 360px;
    margin-right: 10px;
    border-radius: 15px;

    transition: all 0.3s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.slide1 > li img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.slide1 > li:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* 상품쪽 화살표 */

.btnImg_pro{position:relative; top: -250px; width:100%;}
.btnImg_pro .prev{width: 30px; height: 60px; position:absolute; left:10px;}
.btnImg_pro .next{width: 30px; height: 60px;position:absolute; right:20px;}


/* 커뮤니티 */

.m_com{
    margin-top: 60px;
    width: 1190px;
    height: 280px;

    font-size: 30px;
    text-align: center;
    line-height: 280px;
}

.m_com ul > li{
    float: left;
    width: 386px;
    height: 280px;
    border-radius: 15px;
    position: relative;
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.slide1 > li > a > img.scrap{
    display: block;
    position: absolute;
    right:10px;
    bottom: 85px;
    width: 40px;
    height: 50px;
    z-index: 1000;
}

.m_com ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}

.m_com ul > li span{
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
    font-size: 1.3em;
    font-weight: bold;
    color: #f7f7f7;
}
.m_com ul > li:first-child{
    background-image: url(../images/m_com_1.png);
    background-size: cover;
}

.m_com ul >li:nth-child(2){
    background-image: url(../images/m_com_2.png);
    background-size: cover;


    margin-left: 16px;
}
.m_com ul >li:last-child{
    background-image: url(../images/m_com_3.png);
    background-size: cover;
    margin-left: 16px;
}

.m_com ul > li:hover{
    opacity: 0.5;
}
.m_com ul > li:hover span{
    color: #138500;
    font-size: 1.5em;
}


/* 비디오 */

.m_video{
    margin-top: 130px;
    width: 1190px;
    height: 600px;
    background: url(../images/m_video_bg.png);
    background-size: 100%;
    background-color: skyblue;
    position: relative;
}

.video_main{
    position: absolute;
    width: 500px;
    height: 280px;
    left:50%;
    bottom: 50%;
    margin-left: -230px;
    margin-bottom: -425px;
}


.m_video > img{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 250px;
    height: 140px;
}

.m_video > .img2{
    position: absolute;
    top: 225px;
    z-index: 10;
}

.m_video > .img3{
    position: absolute;
    top: 400px;
    z-index: 10;
}


.m_video > .video_sub1{
    position: absolute;
    top: 50px;
    left: 30px;
    width: 250px;
    height: 140px;
    display: none;
}

.m_video > .video_sub2{
    position: absolute;
    left: 30px;
    width: 250px;
    height: 140px;
    margin-top: 225px;
    display: none;
}

.m_video > .video_sub3{
    position: absolute;
    left: 30px;
    width: 250px;
    height: 140px;
    margin-top: 400px;
    display: none;
}

/*비디오-화살표*/

.btnImg_video{position:relative; top: -580px; width:100%;}
.btnImg_video .prev{width: 15px; height: 10px; position:absolute; left:145px;}
.btnImg_video .next{width: 15px; height: 10px;position:absolute; left:145px; top: 540px;}






/*가이드북*/

.m_guide{
    margin-top: 110px;
    width: 1190px;
    height: 425px;
}

.m_guide span{
    font-size: 24px;
    font-weight: bold;
    color: #138500;
}

.m_guide ul{
    margin-top: 25px;
    width: 1190px;
    height: 370px;
}

.m_guide ul > li{
    float: left;
    width: 285px;
    height: 370px;
    margin-right: 15px;

    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 1;
}

.m_guide ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
}

.m_guide ul > li:first-child{
    background: url(../images/m_guide_1.png);
    background-size:100%;
}

.m_guide ul > li:nth-child(2){
    background: url(../images/m_guide_2.png);
    background-size:100%;
}

.m_guide ul > li:nth-child(3){
    background: url(../images/m_guide_3.png);
    background-size:100%;
}

.m_guide ul > li:last-child{
    background: url(../images/m_guide_4.png);
    background-size:100%;

    float: right;
    margin-right: 0;
}

.m_guide ul > li:hover{
    opacity: 0.5;
}






/* ----------------------------푸터------------------------------ */
#footer{
    width: 100%;
    height: 340px;
    background-color: #138500;
    padding-top: 40px;
}

.footer_con{
    width: 1190px;
    height: 275px;
    margin: 0 auto;
    margin-top: 2px;
}

.footer_con > .f_box{
    width: 1190px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
}

.f_box > ul > li{
    margin: 0 3px 0 18px;
    float: left;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
}
.f_box > .icons{
    float: right;
    margin-right: 30px;
    padding-top: 5px;
}
.f_box > .icons > a > img{
    margin-left: 10px;
}
.f_fir, .f_sec, .f_thi{color: #ffffff; font-size: 14px;}
.f_fir{margin-top: 45px;}
.f_fir > .fl{margin-right: 20px;}
.f_sec{margin-top: 15px; line-height: 23px;}
.f_thi{margin-top: 10px; line-height: 23px;}